<div class="row grid-row grid-4col-25-25-25-25">
	<div class="grid-col col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3">
		<f:format.raw>
			{data.tx_gridelements_view_column_20}
		</f:format.raw>
	</div>
	<div class="grid-col col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3">
		<f:format.raw>
			{data.tx_gridelements_view_column_21}
		</f:format.raw>
	</div>
	<div class="grid-col col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3">
		<f:format.raw>
			{data.tx_gridelements_view_column_22}
		</f:format.raw>
	</div>
	<div class="grid-col grid-col-last col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3">
		<f:format.raw>
			{data.tx_gridelements_view_column_23}
		</f:format.raw>
	</div>
	<div style="clear:both;"></div>
</div>